* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

body {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 1200px;
}

/* Nav bar */
.upper-menu {
    /* position: fixed;
    bottom: 0; */

    position: sticky;
    top: 0;
    left: 0;
    right: 0;      /* important */
    width: 100%;   /* important */
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    /* Adjust background */
    background: hsla(210, 100%, 90%, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgb(255, 255, 255, 0.3);
}

.upper-menu a{
    text-decoration-line: none;
    color: black;
    font-size: 22px;
}

.upper-menu img {
    width: 50px;
}

/* Intro section */
.home-section {
    display: flex;
    gap: 30px;
    margin: 50px;
}

.home-section img {
    max-height: 300px;
    max-width: 400px;
    border-radius: 10px;
}

.intro-section {
    display: flex;
    flex-direction: column;
}

.intro-name {
    font-size: 40px;
}

.intro-major {
    font-size: 21px;
    margin-bottom: 20px;
}

.intro-description {
    margin-top: 10px;
    font-size: 18px;
    padding-right: 50px;
}

/* Name and links section */
.intro-main{
    display: flex;
    justify-content: space-between;
}

.intro-links-section {
    display: flex;
    gap: 15px;
}

.intro-links img{
    max-width: 45px;
}

/* Work Experience Section */
.projects-section, .experiences-section{
    margin: 50px;
}

.projects-title, .experiences-title{
    font-size: 25px;
    text-align: left;
    margin-bottom: 40px;
}

.experience-card-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience-card{
    border: 2px solid rgba(0, 0, 0, 0.395);
    border-radius: 5px;
    padding: 10px 20px;
}

.experience-job{
    font-size: 22px;
    font-weight: 700;
}

.experience-position{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.experience-description {
    font-size: 18px;
    margin-bottom: 20px;;
}

.experience-date{
    font-size: 18px;
    font-weight: 599;
}

/* Projects section */

.cards-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cards {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 450px;
}

.cards img {
    max-width: 250px;
    border: 1px solid black;
    border-radius: 8px;
}

.project-title {
    font-weight: 700;
    width: 250px;
}

.project-description {
    margin: 10px;
}

.project-link {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    margin: 15px auto;
    text-align: center;
}